<app-header title="Input - Forms"></app-header>

<ion-content>
  <ion-list-header>
    <ion-label>Name: {{ name || 'There are no name' }}</ion-label>
  </ion-list-header>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text"
                 [(ngModel)]="name">
      </ion-input>
    </ion-item>
  </ion-list>

  <form #form="ngForm" (ngSubmit)="onSubmitTemplate()">
    <ion-list>
      <ion-list-header>
        <ion-label>Form Template: Valid {{ form.valid }}</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" 
                   name="email" 
                   pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                   [(ngModel)]="user.email" 
                   required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" 
                    name="password" 
                    [(ngModel)]="user.password" 
                    required></ion-input>
      </ion-item>

      <ion-button expand="full" 
                  type="submit"
                  [disabled]="form.invalid">
        Submit
      </ion-button>
      
    </ion-list>
  </form>

</ion-content>
